/pnmp/old/Classification_snr.xls
/pnmp/old/Classification.xls
/pnmp/old/Classification_log.xls
/pnmp/old/Classification_mtc.xls
/pnmp/CM.xls
/UpgradeOlt/log/**/*
/UpgradeOlt/resource/V*/*
/AutoTest/**/*
